<section id="pageTitle">
  <h1>
  {{Ptitle}}
</h1>
</section>
<div class="container">
  {{#each books}}
    <a href={{this.link}} id="articleLinks">
      <div id="outer-article-container">
        <div class="row" id="inner-article-container">
          <article class="col-sm-6">
            <h2>{{this.author}}</h2>
            <h3>{{this.title}}</h3>
            <p>{{this.content}}</p>
          </article>
          <figure class="col-sm-6" id="authorImgs">
            <img src={{this.img}} alt={{this.title}} />
          </figure>
        </div>
      </div>
    </a>
  {{/each}}
</div>