<div class="container-fluid">
    <header class="row">
     <div class="col">
      <h1>{{{maint}}}</h1>
     </div>
    </header>
    <article class="row">
        <div class="col">
            <h2>{{secondaryt}}</h2>
            <p>{{{content}}}</p>
            {{{appendices}}}
            <p>{{{bibliography}}}</p>
        </div>
    </article>
</div>